@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iAWriterMono";
  src: url("../public/fonts/iA\ Writer\ Mono/iAWriterMonoS-Regular.woff2");
}
@font-face {
  font-family: "iAWriterMono";
  src: url("../public/fonts/iA\ Writer\ Mono/iAWriterMonoS-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: "iAWriterMono";
  src: url("../public/fonts/iA\ Writer\ Mono/iAWriterMonoS-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "iAWriterMono";
  src: url("../public/fonts/iA\ Writer\ Mono/iAWriterMonoS-Italic.woff2");
  font-style: italic;
}

/* Italic */

@font-face {
  font-family: "iAWriterQuattro";
  src: url("../public/fonts/iA\ Writer\ Quattro\ V/iAWriterQuattroS-Regular.woff2");
}
@font-face {
  font-family: "iAWriterQuattro";
  src: url("../public/fonts/iA\ Writer\ Quattro\ V/iAWriterQuattroS-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: "iAWriterQuattro";
  src: url("../public/fonts/iA\ Writer\ Quattro\ V/iAWriterQuattroS-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "iAWriterQuattro";
  src: url("../public/fonts/iA\ Writer\ Quattro\ V/iAWriterQuattroS-Italic.woff2");
  font-style: italic;
}

/* body {
  background-color: theme("colors.cod-gray.950");
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 9999px;
}

/* Track */
::-webkit-scrollbar-track {
  background: theme("colors.cod-gray.900");
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: theme(colors.cod-gray.700);
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.deepblue.500");
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
